@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
body {
  text-align: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1440px) {
  body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

p {
  margin: 0;
  font-size: 18px;
}

.card {
  background: hsl(0, 0%, 100%);
  max-width: 375px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media (min-width: 1440px) {
  .card {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: 8px 0px 12px 0px rgb(235, 235, 235);
    border-radius: 30px;
  }
}
.card__hero {
  color: hsl(241, 100%, 89%);
  padding: 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  min-height: 350px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
@media (min-width: 1440px) {
  .card__hero {
    border-radius: 30px;
    max-width: 240px;
  }
}

.result__heading {
  margin: 30px 0;
}
.result__score {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  min-width: 150px;
  min-height: 150px;
  margin-bottom: 30px;
}

.result__text {
  color: hsl(0, 0%, 100%);
  font-size: 50px;
  line-height: 18px;
}

.of {
  font-size: 18px;
  color: #897fff;
}

.result__tittle {
  color: hsl(0, 0%, 100%);
  margin-bottom: 20px;
}

.result__paragraph {
  color: #b8baff;
  margin-bottom: 45px;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1440px) {
  .summary {
    padding: 20px;
    max-width: 350px;
  }
}
.summary__tittle-wrapper {
  min-width: 90%;
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.summary__list {
  min-width: 90%;
  margin: 0 20px 0 20px;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1440px) {
  .summary__list {
    min-width: 100%;
  }
}
.summary__list--item {
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  background: hsla(145, 50%, 30%, 0.1);
  display: grid;
  grid-template-columns: 20px repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.svg {
  justify-self: flex-start;
}

.category {
  justify-self: flex-start;
}
.category--score {
  justify-self: end;
  color: #a8a3ab;
}
.category--score--span {
  color: hsl(224, 30%, 27%);
}

.reaction {
  color: hsl(0, 100%, 67%);
  background: #fff6f6;
}

.memory {
  color: hsl(39, 100%, 56%);
  background: #fefbf3;
}

.verbal {
  color: hsl(166, 100%, 37%);
  background: #f4fafa;
}

.visual {
  color: hsl(234, 85%, 45%);
  background: #f3f3fc;
}

.button {
  outline: none;
  border: none;
  min-width: 90%;
  padding: 20px;
  margin-top: 20px;
  border-radius: 30px;
  background: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
}
.button:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */